<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.approval.ApprovalDAO">
  	
  	<select id="getCategory" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY ORDER BY CATEGORY_ID ASC
  	</select>
  	
  	<select id="getCategoryDetail" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY WHERE CATEGORY_NAME = #{categoryName}
  	</select>
  	
  	<select id="getForms" resultType="FormVO">
  		SELECT * FROM FORM;
  	</select>
  	
  	<select id="getForm" resultType="FormVO" parameterType="FormVO">
  		SELECT * FROM FORM WHERE FORM_ID = #{formId}
  	</select>
  	
  	<select id="getAwaitList" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * FROM APPROVAL A
  		INNER JOIN DOCUMENT D
  		ON A.DOCUMENT_ID=D.DOCUMENT_ID
  		INNER JOIN FORM F
  		ON D.FORM_ID=F.FORM_ID
  		INNER JOIN USER U
  		ON D.WRITER_ID=U.USERNAME
  		WHERE A.DOCUMENT_ID IS NOT NULL AND A.APPROVER_ID=#{approverId} AND A.APPROVAL_STATUS='AS0'
  		ORDER BY APPROVAL_ID DESC
  	</select>
  	
  	<select id="getAwaitDetail" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * FROM APPROVAL A
  		INNER JOIN DOCUMENT D
  		ON A.DOCUMENT_ID=D.DOCUMENT_ID
  		INNER JOIN FORM F
  		ON D.FORM_ID=F.FORM_ID
  		INNER JOIN USER U
  		ON D.WRITER_ID=U.USERNAME
  		WHERE A.APPROVAL_ID=#{approvalId} AND A.APPROVER_ID=#{approverId} AND A.APPROVAL_STATUS='AS0'
  	</select>
  	
  	<select id="getList" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * 
  		  FROM APPROVAL A
  				 INNER JOIN DOCUMENT D
  			ON A.DOCUMENT_ID=D.DOCUMENT_ID
  				 INNER JOIN FORM F
  			ON D.FORM_ID=F.FORM_ID
  				 INNER JOIN USER U
  			ON D.WRITER_ID=U.USERNAME
  		 <where>
		    A.APPROVER_ID = #{approverId}
		    
		    <if test="pager.searchWord != null and pager.searchWord != ''">
		    	<choose>
		            <when test="pager.searchField == 'D.WRITER_ID'">
		                AND D.WRITER_ID LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		            <when test="pager.searchField == 'D.DOCUMENT_TITLE'">
		                AND D.DOCUMENT_TITLE LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		            <when test="pager.searchField == 'F.FORM_TITLE'">
		                AND F.FORM_TITLE LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		        </choose>
		    </if>
		    
		    <choose>
	            <when test="approvalStatus == 'AS1'">AND A.APPROVAL_STATUS = 'AS1'</when>
	            <when test="approvalStatus == 'AS2'">AND A.APPROVAL_STATUS = 'AS2'</when>
	            <otherwise>AND A.APPROVAL_STATUS IN ('AS1', 'AS2')</otherwise>
	        </choose>
	        
		</where>
  		 ORDER BY APPROVED_AT DESC
  		 LIMIT #{pager.startRow}, #{pager.pageSize}
  	</select>
  	
  	<select id="getApprovalCount" parameterType="ApprovalVO" resultType="java.lang.Long">
  		SELECT COUNT(*)
  		  FROM APPROVAL A
  				 INNER JOIN DOCUMENT D
  			ON A.DOCUMENT_ID=D.DOCUMENT_ID
  				 INNER JOIN FORM F
  			ON D.FORM_ID=F.FORM_ID
  		 <where>
		    A.APPROVER_ID = #{approverId}
		    
		    <if test="pager.searchWord != null and pager.searchWord != ''">
		    	<choose>
		            <when test="pager.searchField == 'D.WRITER_ID'">
		                AND D.WRITER_ID LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		            <when test="pager.searchField == 'D.DOCUMENT_TITLE'">
		                AND D.DOCUMENT_TITLE LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		            <when test="pager.searchField == 'F.FORM_TITLE'">
		                AND F.FORM_TITLE LIKE CONCAT('%', #{pager.searchWord}, '%')
		            </when>
		        </choose>
		    </if>
		   
	        <choose>
	            <when test="approvalStatus == 'AS1'">AND A.APPROVAL_STATUS = 'AS1'</when>
	            <when test="approvalStatus == 'AS2'">AND A.APPROVAL_STATUS = 'AS2'</when>
	            <otherwise>AND A.APPROVAL_STATUS IN ('AS1', 'AS2')</otherwise>
	        </choose>
	        
		</where>
  	</select>
  	
  	<select id="getDetail" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * FROM APPROVAL A
  				 INNER JOIN DOCUMENT D
  			ON A.DOCUMENT_ID=D.DOCUMENT_ID
  				 INNER JOIN FORM F
  			ON D.FORM_ID=F.FORM_ID
  			 	 INNER JOIN USER U
  			ON D.WRITER_ID=U.USERNAME
  		 WHERE A.APPROVAL_ID=#{approvalId}
  		 	   AND A.APPROVER_ID=#{approverId}
  		 	   AND A.APPROVAL_STATUS IN ('AS1', 'AS2')
  	</select>
  	
  	<resultMap type="ApprovalVO" id="awaitMap">
  		<id column="APPROVAL_ID" property="approvalId"/>
  		<result column="DOCUMENT_ID" property="documentId"/>
  		<result column="APPROVER_ID" property="approverId"/>
  		<result column="PARENT_ID" property="parentId"/>
  		<result column="APPROVAL_STEP" property="approvalStep"/>
  		<result column="APPROVAL_STATUS" property="approvalStatus"/>
  		<result column="APPROVED_AT" property="approvedAt"/>
  		<association javaType="DocumentVO" property="documentVO">
  			<result column="FORM_ID" property="formId"/>
  			<result column="WRITER_ID" property="writerId"/>
  			<result column="DOCUMENT_TITLE" property="documentTitle"/>
  			<result column="CONTENT_HTML" property="contentHtml"/>
  			<result column="DOCUMENT_STATUS" property="documentStatus"/>
  			<result column="CREATED_AT" property="createdAt"/>
  			<association javaType="FormVO" property="formVO">
  				<result column="FORM_TITLE" property="formTitle"/>
  				<result column="CATEGORY_ID" property="categoryId"/>
  				<result column="CONTENT_HTML" property="contentHtml"/>
  				<result column="CREATED_AT" property="createdAt"/>
  			</association>
  			<association javaType="UserVO" property="userVO">
  				<result column="NAME" property="name"/>
  			</association>
  		</association>
  	</resultMap>
  	
  	<select id="getListByDocument" parameterType="ApprovalVO" resultType="ApprovalVO">
  		SELECT * FROM APPROVAL
  		WHERE DOCUMENT_ID=#{documentId}
  	</select>
  	
  	<select id="getAppOrRej" parameterType="ApprovalVO" resultType="ApprovalVO">
  		SELECT * FROM APPROVAL
  		WHERE DOCUMENT_ID=#{documentId} AND APPROVAL_STATUS IN ('AS1', 'AS2')
  	</select>
  	
  	<select id="getChild" parameterType="ApprovalVO" resultType="ApprovalVO">
  		SELECT *
  		  FROM APPROVAL
  		 WHERE PARENT_ID=#{approvalId}
  	</select>
  	
  	<!-- 휴가타입별 휴가 사용량 조회(관리자용 범위설정 가능) -->
  	<select id="getUsedLeavesByType" resultType="java.lang.Long">
	    SELECT IFNULL(SUM(USED_DAYS), 0)
	      FROM LEAVE_BALANCE
	     WHERE YEAR = #{year}
	       AND TYPE_ID = #{typeId}
	      <choose>
	        <when test="scope == 'all'">
	          <!-- 전체 -->
	        </when>
	        <when test="scope == 'dept'">
	          AND USERNAME IN (
	            SELECT USERNAME FROM USER WHERE DEPARTMENT_ID = #{departmentId}
	          )
	        </when>
	        <when test="scope == 'user'">
	          AND USERNAME = #{username}
	        </when>
	      </choose>
	</select>
	
	<!-- 휴가타입별 휴가 사용량 조회 -->
  	<select id="getUsedLeavesByUser" resultType="java.lang.Long">
	    SELECT IFNULL(SUM(USED_DAYS), 0)
	      FROM LEAVE_BALANCE
	     WHERE USERNAME = #{username}
	       AND YEAR = #{year}
	       AND TYPE_ID = #{typeId} 
	</select>
	
	<select id="getLeaveTypes" resultType="LeaveVO">
		SELECT *
		  FROM LEAVE_TYPE
	</select>
  	
  	<insert id="addForm" parameterType="FormVO" useGeneratedKeys="true" keyProperty="formId">
  		INSERT INTO FORM VALUES
  		(
  			null,
  			#{formTitle},
  			#{categoryId},
  			#{contentHtml},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addCategory" parameterType="CategoryVO">
  		INSERT INTO FORM_CATEGORY VALUES
  		(
  			null,
  			#{categoryName}
  		)
  	</insert>
  	
  	<!-- useGeneratedKeys="true" keyProperty="documentId" DB에서 생성된 키 사용 -> auto_increment로 생성된 값 자바에서 가져와 사용하기-->
  	<insert id="addDocument" parameterType="DocumentVO" useGeneratedKeys="true" keyProperty="documentId">
  		INSERT INTO DOCUMENT VALUES
  		(
  			NULL,
  			#{formId},
  			#{writerId},
  			#{documentTitle},
  			#{contentHtml},
  			'D0',
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addApproval" parameterType="ApprovalVO" useGeneratedKeys="true" keyProperty="approvalId">
  		INSERT INTO APPROVAL VALUES
  		(
  			NULL,
  			#{documentId},
  			#{approverId},
  			#{parentId},
  			#{approvalStep},
  			#{approvalStatus},
  			NULL
  		)
  	</insert>
  	
  	<insert id="addSign" parameterType="UserSignatureVO" useGeneratedKeys="true" keyProperty="signatureId">
  		INSERT INTO USER_SIGNATURE VALUES
  		(
  			NULL,
  			#{username},
  			#{fileName},
  			#{oriName},
  			#{signatureType},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<update id="updateCategory" parameterType="CategoryVO">
  		UPDATE FORM_CATEGORY SET CATEGORY_NAME=#{categoryName}
  		WHERE CATEGORY_ID=#{categoryId}
  	</update>
  	
  	<update id="updateForm" parameterType="FormVO">
  		UPDATE FORM SET FORM_TITLE=#{formTitle}, CONTENT_HTML=#{contentHtml}
  		WHERE FORM_ID=#{formId}
  	</update>
  	
  	<update id="updateApprovalStatus" parameterType="ApprovalVO">
  		UPDATE APPROVAL SET APPROVAL_STATUS=#{approvalStatus}, APPROVED_AT=CURRENT_TIMESTAMP
  		WHERE APPROVAL_ID=#{approvalId}
  	</update>
  	
  	<update id="updateChildStatus" parameterType="ApprovalVO">
  		UPDATE APPROVAL SET APPROVAL_STATUS=#{approvalStatus} WHERE PARENT_ID=#{approvalId}
  	</update>
  	
  	<update id="updateDocumentStatus" parameterType="DocumentVO">
  		UPDATE DOCUMENT SET DOCUMENT_STATUS=#{documentStatus} WHERE DOCUMENT_ID=#{documentId}
  	</update>
  	
  	<update id="updateContent" parameterType="DocumentVO">
  		UPDATE DOCUMENT SET CONTENT_HTML=#{contentHtml} WHERE DOCUMENT_ID=#{documentId}
  	</update>
  	
  	<update id="updateLeave" parameterType="LeaveVO">
  		UPDATE LEAVE_BALANCE
  		   SET USED_DAYS = USED_DAYS + #{usedDays}
  		 WHERE USERNAME=#{username}
  		   AND TYPE_ID=#{typeId}
  		   AND YEAR=#{year}
  	</update>
  	
  	<delete id="deleteCategory" parameterType="CategoryVO">
  		DELETE FROM FORM_CATEGORY
  		WHERE CATEGORY_ID=#{categoryId}
  	</delete>
  	
  	<delete id="deleteForm" parameterType="FormVO">
  		DELETE FROM FORM
  		WHERE FORM_ID=#{formId}
  	</delete>
  	
  	<delete id="deleteSign" parameterType="UserVO">
  		DELETE FROM USER_SIGNATURE WHERE USERNAME=#{username}
  	</delete>
  	
  	<delete id="deleteDocument" parameterType="DocumentVO">
  		DELETE FROM DOCUMENT WHERE WRITER_ID=#{writerId} AND DOCUMENT_ID=#{documentId}
  	</delete>
  	
  	
  </mapper>