<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.approval.ApprovalDAO">
  	
  	<select id="getCategory" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY ORDER BY CATEGORY_ID ASC
  	</select>
  	
  	<select id="getCategoryDetail" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY WHERE CATEGORY_NAME = #{categoryName}
  	</select>
  	
  	<select id="getForms" resultType="FormVO">
  		SELECT * FROM FORM;
  	</select>
  	
  	<select id="getForm" resultType="FormVO" parameterType="FormVO">
  		SELECT * FROM FORM WHERE FORM_ID = #{formId}
  	</select>
  	
  	<select id="getAwaitList" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * FROM APPROVAL A
  		INNER JOIN DOCUMENT D
  		ON A.DOCUMENT_ID=D.DOCUMENT_ID
  		INNER JOIN FORM F
  		ON D.FORM_ID=F.FORM_ID
  		WHERE A.DOCUMENT_ID IS NOT NULL AND A.APPROVER_ID=#{approverId} AND A.APPROVAL_STATUS='AS0'
  	</select>
  	
  	<select id="getAwaitDetail" resultMap="awaitMap" parameterType="ApprovalVO">
  		SELECT * FROM APPROVAL A
  		INNER JOIN DOCUMENT D
  		ON A.DOCUMENT_ID=D.DOCUMENT_ID
  		INNER JOIN FORM F
  		ON D.FORM_ID=F.FORM_ID
  		WHERE A.DOCUMENT_ID=#{documentId} AND A.APPROVER_ID=#{approverId} AND A.APPROVAL_STATUS='AS0'
  	</select>
  	
  	<resultMap type="ApprovalVO" id="awaitMap">
  		<id column="APPROVAL_ID" property="approvalId"/>
  		<result column="DOCUMENT_ID" property="documentId"/>
  		<result column="APPROVER_ID" property="approverId"/>
  		<result column="PARENT_ID" property="parentId"/>
  		<result column="APPROVAL_STEP" property="approvalStep"/>
  		<result column="APPROVAL_STATUS" property="approvalStatus"/>
  		<result column="APPROVED_AT" property="approvedAt"/>
  		<association javaType="DocumentVO" property="documentVO">
  			<result column="FORM_ID" property="formId"/>
  			<result column="WRITER_ID" property="writerId"/>
  			<result column="DOCUMENT_TITLE" property="documentTitle"/>
  			<result column="CONTENT_HTML" property="contentHtml"/>
  			<result column="DOCUMENT_STATUS" property="documentStatus"/>
  			<result column="CREATED_AT" property="createdAt"/>
  			<association javaType="FormVO" property="formVO">
  				<result column="FORM_TITLE" property="formTitle"/>
  				<result column="CATEGORY_ID" property="categoryId"/>
  				<result column="CONTENT_HTML" property="contentHtml"/>
  				<result column="CREATED_AT" property="createdAt"/>
  			</association>
  		</association>
  	</resultMap>
  	
  	<select id="getListByDocument" parameterType="ApprovalVO" resultType="ApprovalVO">
  		SELECT * FROM APPROVAL
  		WHERE DOCUMENT_ID=#{documentId}
  	</select>
  	
  	<select id="getApprovalDetail" parameterType="ApprovalVO" resultType="ApprovalVO">
  		SELECT * FROM APPROVAL WHERE APPROVAL_ID=#{approvalId}
  	</select>
  	
  	<insert id="addForm" parameterType="FormVO">
  		INSERT INTO FORM VALUES
  		(
  			null,
  			#{formTitle},
  			#{categoryId},
  			#{contentHtml},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addCategory" parameterType="CategoryVO">
  		INSERT INTO FORM_CATEGORY VALUES
  		(
  			null,
  			#{categoryName}
  		)
  	</insert>
  	
  	<!-- useGeneratedKeys="true" keyProperty="documentId" DB에서 생성된 키 사용 -> auto_increment로 생성된 값 자바에서 가져와 사용하기-->
  	<insert id="addDocument" parameterType="DocumentVO" useGeneratedKeys="true" keyProperty="documentId">
  		INSERT INTO DOCUMENT VALUES
  		(
  			NULL,
  			#{formId},
  			#{writerId},
  			#{documentTitle},
  			#{contentHtml},
  			'D0',
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addApproval" parameterType="ApprovalVO" useGeneratedKeys="true" keyProperty="approvalId">
  		INSERT INTO APPROVAL VALUES
  		(
  			NULL,
  			#{documentId},
  			#{approverId},
  			#{parentId},
  			#{approvalStep},
  			#{approvalStatus},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addSign" parameterType="UserSignatureVO">
  		INSERT INTO USER_SIGNATURE VALUES
  		(
  			NULL,
  			#{username},
  			#{fileName},
  			#{oriName},
  			#{signatureType},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<update id="updateApprovalStatus" parameterType="ApprovalVO">
  		UPDATE APPROVAL SET APPROVAL_STATUS=#{approvalStatus} WHERE APPROVAL_ID=#{approvalId}
  	</update>
  	
  	<update id="updateChildStatus" parameterType="ApprovalVO">
  		UPDATE APPROVAL SET APPROVAL_STATUS=#{approvalStatus} WHERE PARENT_ID=#{approvalId}
  	</update>
  	
  	<update id="updateDocumentStatus" parameterType="DocumentVO">
  		UPDATE DOCUMENT SET DOCUMENT_STATUS=#{documentStatus} WHERE DOCUMENT_ID=#{documentId}
  	</update>
  	
  	<update id="updateContent" parameterType="DocumentVO">
  		UPDATE DOCUMENT SET CONTENT_HTML=#{contentHtml} WHERE DOCUMENT_ID=#{documentId}
  	</update>
  	
  	<delete id="deleteSign" parameterType="UserVO">
  		DELETE FROM USER_SIGNATURE WHERE USERNAME=#{username}
  	</delete>
  	
  	
  </mapper>