<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.approval.ApprovalDAO">
  	
  	<select id="getCategory" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY ORDER BY CATEGORY_ID ASC
  	</select>
  	
  	<select id="getCategoryDetail" resultType="CategoryVO">
  		SELECT * FROM FORM_CATEGORY WHERE CATEGORY_NAME = #{categoryName}
  	</select>
  	
  	<select id="getForm" resultType="FormVO" parameterType="CategoryVO">
  		SELECT * FROM FORM WHERE CATEGORY_ID = #{categoryId}
  	</select>
  	
  	<insert id="addForm" parameterType="FormVO">
  		INSERT INTO FORM VALUES
  		(
  			null,
  			#{formTitle},
  			#{categoryId},
  			#{contentHtml},
  			CURRENT_TIMESTAMP
  		)
  	</insert>
  	
  	<insert id="addCategory" parameterType="CategoryVO">
  		INSERT INTO FORM_CATEGORY VALUES
  		(
  			null,
  			#{categoryName}
  		)
  	</insert>
  	
  </mapper>