<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.schedule.ScheduleDAO">
  	
  	<!-- 전체 조회 -->
  	<select id="selectAll" resultType="ScheduleVO">
  		
  		SELECT * FROM SCHEDULE
  		ORDER BY SCHEDULE_DATE, START_TIME
 
  	</select>
 
 	<select id="selectById" parameterType="String">
 	
 	SELECT * FROM SCHEDULE
 	WHERE USERNAME = #{username}
 	
 	</select>
 
 
     <!-- 일정 생성 -->
    <insert id="insertSchedule" parameterType="ScheduleVO"
            useGeneratedKeys="true" keyProperty="scheduleId" keyColumn="SCHEDULE_ID">
        INSERT INTO SCHEDULE
            (USERNAME, FACILITY_ID, SCHEDULE_DATE, START_TIME, END_TIME, CREATED_AT)
        VALUES
            (#{username}, #{facilityId}, #{scheduleDate}, #{startTime}, #{endTime}, NOW())
    </insert>
 
 
     <!--  일정 삭제 -->
    <delete id="deleteSchedule" parameterType="long">
        DELETE FROM SCHEDULE
        WHERE SCHEDULE_ID = #{scheduleId}
    </delete>
    
    
    <!-- 예약 성공 -->
  <update id="decrementRemainingSeats" parameterType="long">
    UPDATE SCHEDULE
       SET REMAINING_SEATS = REMAINING_SEATS - 1
     WHERE SCHEDULE_ID = #{scheduleId}
       AND REMAINING_SEATS > 0
  </update>

	<!-- 예약 취소 -->
  <update id="incrementRemainingSeats" parameterType="long">
    UPDATE SCHEDULE
       SET REMAINING_SEATS = REMAINING_SEATS + 1
     WHERE SCHEDULE_ID = #{scheduleId}
  </update>
    
    
    
    
    
  <!-- 1) 모든 트레이너 계정 조회 (USERNAME 앞에 'T' 붙는 계정, 남은 좌석 있는 것만) -->
  <select id="selectAllTrainerNames" resultType="String">
    SELECT DISTINCT USERNAME
      FROM SCHEDULE
     WHERE USERNAME LIKE 'T%' 
       AND REMAINING_SEATS > 0
     ORDER BY USERNAME
  </select>

  <!-- 2) 트레이너별 스케줄 조회 -->
  <select id="selectByTrainerName"
          parameterType="string"
          resultType="ScheduleVO">
    SELECT
      SCHEDULE_ID     
      FACILITY_ID      
      SCHEDULE_DATE    
      START_TIME      
      END_TIME         
      REMAINING_SEATS  
    FROM SCHEDULE
    WHERE USERNAME = #{username}
      AND REMAINING_SEATS > 0
    ORDER BY SCHEDULE_DATE, START_TIME
  </select>
  
  <select id="selectOneUsername" resultType="ScheduleVO" parameterType="java.lang.Long">
  	SELECT USERNAME
  	  FROM SCHEDULE
  	 WHERE SCHEDULE_ID=#{scheduleId}
  </select>
    
    
    
    
    
    
    
    
    
</mapper>
 
  	
  	
  	

