<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.subscript.SubscriptDAO">
  
  	<select id="getPlans" resultType="SubscriptionVO">
  		SELECT * FROM SUBSCRIPTION WHERE IS_ACTIVE=1
  	</select>
	
	<select id="getPlansDetail" resultType="SubscriptionVO">
		SELECT * FROM SUBSCRIPTION WHERE SUBSCRIPTION_ID=#{subscriptionId}
	</select>
	
	<select id="getSubscriptById" resultType="SubscriptVO">
		SELECT * FROM MEMBER_SUBSCRIPT WHERE SUBSCRIPTION_ID=#{subscriptionId} AND USERNAME=#{username}
	</select>
	
	<select id="getSubscriptByUser" resultMap="subscript">
		SELECT * FROM MEMBER_SUBSCRIPT MS
		INNER JOIN SUBSCRIPTION
		USING (SUBSCRIPTION_ID)
		WHERE USERNAME=#{username}
	</select>
	
	<resultMap type="SubscriptVO" id="subscript">
		<id column="SUBSCRIPT_ID" property="subscriptId"/>
		<result column="USERNAME" property="username"/>
		<result column="START_DATE" property="startDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="SUBSCRIPT_STATUS" property="subscriptStatus"/>
		<result column="CREATED_AT" property="createdAt"/>
		<association javaType="SubscriptionVO" property="subscriptionVO">
			<id column="SUBSCRIPTION_ID" property="subscriptionId"/>
			<result column="SUBSCRIPTION_NAME" property="subscriptionName"/>
			<result column="DAYS" property="days"/>
			<result column="PRICE" property="price"/>
			<result column="SUBSCRIPTION_CONTENTS" property="subscriptionContents"/>
			<result column="IS_ACTIVE" property="isActive"/>
		</association>
	</resultMap>
	
	<select id="getRemainDays" resultType="int">
		SELECT IFNULL(SUM(DATEDIFF(END_DATE, CURRENT_DATE())), 0)
		  FROM MEMBER_SUBSCRIPT
		 WHERE USERNAME = #{username}
		   AND SUBSCRIPT_STATUS = 'ACTIVE'	
	</select>
	
	<select id="getNextId" resultType="long">
  		SELECT AUTO_INCREMENT
		FROM INFORMATION_SCHEMA.TABLES

		WHERE TABLE_SCHEMA = 'user99'

		AND TABLE_NAME = 'MEMBER_SUBSCRIPT';		
	</select>
	
	<insert id="newSubscript" parameterType="SubscriptVO">
		INSERT INTO MEMBER_SUBSCRIPT VALUES 
		(#{subscriptId}, #{subscriptionId}, #{username}, #{startDate}, #{endDate}, #{subscriptStatus}, #{createdAt})
	</insert>
	
	<update id="updateSubscript" parameterType="SubscriptVO">
		UPDATE MEMBER_SUBSCRIPT SET SUBSCRIPT_STATUS=#{subscriptStatus} WHERE SUBSCRIPT_ID=#{subscriptId}
	</update>
	

  	
  </mapper>
