<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.user.UserDAO">
  
  
    <select id="selectUsersByUsernamePrefix"
          parameterType="map"
          resultType="UserVO">
    SELECT USERNAME, NAME
      FROM USER
     WHERE BINARY USERNAME LIKE #{prefix}
  </select>
  
  
  
  
  	<insert id="join" parameterType="UserVO">
 		INSERT INTO USER
 		(USERNAME, PASSWORD, NAME, EMAIL, PHONE, BIRTH, FILE_NAME, ORI_NAME, ACCOUNTNONEXPIRED, ACCOUNTNONLOCKED, CREDENTIALSNONEXPIRED, ENABLED, SNS, TRAINER_CODE)
 		 VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{birth}, #{fileName}, #{oriName}, 1, 1, 1, 1, #{sns}, #{trainerCode})
  	</insert>
  	
  	  	<insert id="trainerJoin" parameterType="UserVO">
 		INSERT INTO USER
 		(USERNAME, PASSWORD, NAME, EMAIL, PHONE, BIRTH, FILE_NAME, ORI_NAME, ACCOUNTNONEXPIRED, ACCOUNTNONLOCKED, CREDENTIALSNONEXPIRED, ENABLED, SNS, TRAINER_CODE)
 		 VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{birth}, #{fileName}, #{oriName}, 1, 1, 1, 1, #{sns}, NULL)
  	</insert>
  	
  	<select id="getTrainerCode" resultType="Long">
  		SELECT AUTO_INCREMENT
		FROM INFORMATION_SCHEMA.TABLES

		WHERE TABLE_SCHEMA = 'SportCenter'

		  AND TABLE_NAME = 'USER';
  	</select>
  	
  	<select id="detail" resultMap="detailMap">
		SELECT * FROM USER U
			 INNER JOIN MEMBER_ROLE MR
			 USING (USERNAME)
			 INNER JOIN ROLE R
			 USING (ROLE_NUM)
			 INNER JOIN MEMBER_STATE MS
			 USING (USERNAME)
			 INNER JOIN STATE
			 USING (STATE_NUM)
		WHERE USERNAME=#{username}
 	</select>
 	
 	<select id="awaitUserList" resultType="UserVO">
		SELECT * FROM 
			USER U
			INNER JOIN
			MEMBER_STATE MS
			USING (USERNAME)
			INNER JOIN
			STATE
			USING (STATE_NUM)
			WHERE STATE_NUM=2	
 	</select>
 	
 	<update id="updateUserState" parameterType="MemberStateVO">
 		UPDATE MEMBER_STATE SET USERNAME=#{username}, STATE_NUM=1 WHERE USERNAME=#{username}
 	</update>
 	
 	<update id="update" parameterType="UserVO">
 		UPDATE USER SET PASSWORD=#{password}, NAME=#{name}, EMAIL=#{email}, PHONE=#{phone} WHERE USERNAME=#{username}
 	</update>
 	
 	<resultMap type="UserVO" id="detailMap">
 		<id column="USERNAME" property="username"/>
 		<result column="PASSWORD" property="password"/>
 		<result column="NAME" property="name"/>
 		<result column="EMAIL" property="email"/>
 		<result column="PHONE" property="phone"/>
 		<result column="BIRTH" property="birth"/>
 		<result column="FILE_NAME" property="fileName"/>
 		<result column="ORI_NAME" property="oriName"/>
 		<result column="ACCOUNTNONEXPIRED" property="accountNonExpired"/>
 		<result column="ACCOUNTNONLOCKED" property="accountNonLocked"/>
 		<result column="CREDENTIALSNONEXPIRED" property="credentialsNonExpired"/>
 		<result column="ENABLED" property="enabled"/>
 		<result column="SNS" property="sns"/>
 		<result column="CREATED_AT" property="createdAt"/>
 		<result column="POSITION" property="position"/>
 		<result column="PARENT" property="parent"/>
 		<association javaType="DepartmentVO" property="departmentVO">
 			<id column="DEPARTMENT_ID" property="departmentId"/>
 			<result column="DEPARTMENT_NAME" property="departmentName"/>
 			<result column="DESCRIPTION" property="description"/>
 		</association>
 		
 		<collection property="roleList" javaType="java.util.List" ofType="RoleVO">
 			<result column="ROLE_NAME" property="roleName"/>
 		</collection>
 		
 		<collection property="stateList" javaType="java.util.List" ofType="StateVO">
 			<result column="STATE" property="state"/>
 		</collection>
 		
 	</resultMap>
 	
 	<select id="getUsersWithDepartment" resultMap="usersWithDepartmentMap">
 		SELECT 
 			U.USERNAME,
 			U.NAME,
 			U.POSITION,
 			U.PARENT,
 			D.DEPARTMENT_ID,
 			D.DEPARTMENT_NAME,
 			R.ROLE_NUM,
 			S.STATE_NUM
 		FROM USER U
 		INNER JOIN MEMBER_ROLE MR
 		ON U.USERNAME=MR.USERNAME
 		INNER JOIN ROLE R
		USING (ROLE_NUM)
		INNER JOIN MEMBER_STATE MS
		ON U.USERNAME=MS.USERNAME
		INNER JOIN STATE S
		USING (STATE_NUM)
 		LEFT OUTER JOIN DEPARTMENT D
 		ON U.DEPARTMENT_ID=D.DEPARTMENT_ID
 		WHERE MR.ROLE_NUM=2 AND MS.STATE_NUM=1
 	</select>
 	
 	<resultMap type="UserVO" id="usersWithDepartmentMap">
 		<id column="USERNAME" property="username"/>
 		<result column="NAME" property="name"/>
 		<result column="POSITION" property="position"/>
 		<result column="PARENT" property="parent"/>
 		<association javaType="DepartmentVO" property="departmentVO">
 			<id column="DEPARTMENT_ID" property="departmentId"/>
 			<result column="DEPARTMENT_NAME" property="departmentName"/>
 		</association>
 		<collection javaType="java.util.List" ofType="RoleVO" property="roleList">
 			<id column="ROLE_NUM" property="roleNum"/>
 		</collection>
 		<collection javaType="java.util.List" ofType="StateVO" property="stateList">
 			<id column="STATE_NUM" property="stateNum"/>
 		</collection>
 	</resultMap>
 	
 	<select id="getDepartments" resultType="DepartmentVO">
 		SELECT * FROM DEPARTMENT
 	</select>
 	
 	<select id="getDocuments" resultMap="getDocumentsMap" parameterType="DocumentVO">
 		SELECT *
 		FROM DOCUMENT D
 		INNER JOIN FORM F
 		ON D.FORM_ID=F.FORM_ID
 		WHERE
 		<choose>
 			<when test="formId != null">
 				D.WRITER_ID=#{writerId} AND D.FORM_ID=#{formId}
 			</when>
 			<otherwise>
 				D.WRITER_ID=#{writerId}
 			</otherwise>
 		</choose>
 	</select>
 	
 	<select id="getDocument" resultMap="getDocumentsMap" parameterType="DocumentVO">
 		SELECT *
 		FROM DOCUMENT D
 		INNER JOIN FORM F
 		ON D.FORM_ID=F.FORM_ID
 		WHERE D.DOCUMENT_ID=#{documentId}
 	</select>
 	
 	<resultMap type="DocumentVO" id="getDocumentsMap">
 		<id column="DOCUMENT_ID" property="documentId"/>
 		<result column="FORM_ID" property="formId"/>
 		<result column="WRITER_ID" property="writerId"/>
 		<result column="DOCUMENT_TITLE" property="documentTitle"/>
 		<result column="CONTENT_HTML" property="contentHtml"/>
 		<result column="DOCUMENT_STATUS" property="documentStatus"/>
 		<result column="CREATED_AT" property="createdAt"/>
 		<association javaType="FormVO" property="formVO">
 			<id column="FORM_ID" property="formId"/>
 			<result column="FORM_TITLE" property="formTitle"/>
 			<result column="CATEGORY_ID" property="categoryId"/>
 			<result column="CONTENT_HTML" property="contentHtml"/>
 			<result column="CREATED_AT" property="createdAt"/>
 		</association>
 	</resultMap>
 	
 	<select id="getSign" resultType="UserSignatureVO" parameterType="UserVO">
 		SELECT * FROM USER_SIGNATURE WHERE USERNAME=#{username}
 	</select>
  </mapper>
