<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.spring.app.user.UserDAO">
  
  
    <select id="selectUsersByUsernamePrefix"
          parameterType="map"
          resultType="UserVO">
    SELECT USERNAME, NAME
      FROM USER
     WHERE BINARY USERNAME LIKE #{prefix}
  </select>
  
  
  
  
  	<insert id="join" parameterType="UserVO">
 		INSERT INTO USER
 		(USERNAME, PASSWORD, NAME, EMAIL, PHONE, BIRTH, FILE_NAME, ORI_NAME, ACCOUNTNONEXPIRED, ACCOUNTNONLOCKED, CREDENTIALSNONEXPIRED, ENABLED, SNS, TRAINER_CODE)
 		 VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{birth}, #{fileName}, #{oriName}, 1, 1, 1, 1, #{sns}, #{trainerCode})
  	</insert>
  	
  	  	<insert id="trainerJoin" parameterType="UserVO">
 		INSERT INTO USER
 		(USERNAME, PASSWORD, NAME, EMAIL, PHONE, BIRTH, FILE_NAME, ORI_NAME, ACCOUNTNONEXPIRED, ACCOUNTNONLOCKED, CREDENTIALSNONEXPIRED, ENABLED, SNS, TRAINER_CODE)
 		 VALUES (#{username}, #{password}, #{name}, #{email}, #{phone}, #{birth}, #{fileName}, #{oriName}, 1, 1, 1, 1, #{sns}, NULL)
  	</insert>
  	
  	<select id="getTrainerCode" resultType="Long">
  		SELECT AUTO_INCREMENT
		FROM INFORMATION_SCHEMA.TABLES
		WHERE TABLE_SCHEMA = 'final'
		  AND TABLE_NAME = 'USER';
  	</select>
  	
  	<select id="detail" resultMap="detailMap">
		SELECT * FROM USER U
			 INNER JOIN MEMBER_ROLE MR
			 USING (USERNAME)
			 INNER JOIN ROLE R
			 USING (ROLE_NUM)
			 INNER JOIN MEMBER_STATE MS
			 USING (USERNAME)
			 INNER JOIN STATE
			 USING (STATE_NUM)
		WHERE USERNAME=#{username}
 	</select>
 	
 	<select id="awaitUserList" resultType="UserVO">
		SELECT * FROM 
			USER U
			INNER JOIN
			MEMBER_STATE MS
			USING (USERNAME)
			INNER JOIN
			STATE
			USING (STATE_NUM)
			WHERE STATE_NUM=2	
 	</select>
 	
 	<update id="updateUserState" parameterType="MemberStateVO">
 		UPDATE MEMBER_STATE SET USERNAME=#{username}, STATE_NUM=1 WHERE USERNAME=#{username}
 	</update>
 	
 	<update id="update" parameterType="UserVO">
 		UPDATE USER SET PASSWORD=#{password}, NAME=#{name}, EMAIL=#{email}, PHONE=#{phone} WHERE USERNAME=#{username}
 	</update>
 	
 	<resultMap type="UserVO" id="detailMap">
 		<id column="USERNAME" property="username"/>
 		<result column="PASSWORD" property="password"/>
 		<result column="NAME" property="name"/>
 		<result column="EMAIL" property="email"/>
 		<result column="PHONE" property="phone"/>
 		<result column="BIRTH" property="birth"/>
 		<result column="FILE_NAME" property="fileName"/>
 		<result column="ORI_NAME" property="oriName"/>
 		<result column="ACCOUNTNONEXPIRED" property="accountNonExpired"/>
 		<result column="ACCOUNTNONLOCKED" property="accountNonLocked"/>
 		<result column="CREDENTIALSNONEXPIRED" property="credentialsNonExpired"/>
 		<result column="ENABLED" property="enabled"/>
 		<result column="SNS" property="sns"/>
 		<result column="CREATED_AT" property="createdAt"/>
 		<result column="POSITION" property="position"/>
 		<result column="PARENT" property="parent"/>
 		<result column="DEPARTMENT_ID" property="departmentId"/>
 		
 		<collection property="roleList" javaType="java.util.List" ofType="RoleVO">
 			<result column="ROLE_NAME" property="roleName"/>
 		</collection>
 		
 		<collection property="stateList" javaType="java.util.List" ofType="StateVO">
 			<result column="STATE" property="state"/>
 		</collection>
 		
 	</resultMap>
  </mapper>
